body{
    margin: 0;
}

.wrapper{
    width: 80%;
    margin: 10px auto;
    height: auto;
    align-items: center;
    justify-content: center;
}

h1{
    color: red;
    margin: auto;
    font-size: 18px;
    align-items: center;
    justify-content: center;

}


.quoteAuthor{
    margin-left: 185px;
}
